<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Angular Material style sheet -->
<link rel="stylesheet"
	href="./assets/angular-material/angular-material.min.css">
<link rel="stylesheet"
	href="./assets/md-data-table/dist/md-data-table-style.css">

<title>DPD: Расчёт стоимости</title>
</head>

<body ng-app="dpdApp" ng-cloak>

	<div layout="column" ng-controller="CalcCtrl as calcCtrl" ng-cloak>
		<section>
			<md-toolbar class="md-warn">
			<div class="md-toolbar-tools">
				<h2 class="md-flex">Расчет стоимости</h2>
			</div>
			</md-toolbar>

			<form ng-submit="calcCtrl.update(calcCtrl.form)">
				<div layout="row" layout-xs="column">
					<div flex class="md-padding">
						<div ng-controller="CityCtrl as cityCtrl" layout="column" ng-cloak>
							<p ng-model="cityCtrl.destination"
								ng-init="cityCtrl.destination='pickup'">Пункт отправления</p>
							<md-autocomplete ng-disabled="cityCtrl.isDisabled"
								md-no-cache="cityCtrl.noCache"
								md-search-text-change="cityCtrl.searchTextChange(cityCtrl.searchText)"
								md-search-text="cityCtrl.searchText"
								md-selected-item-change="cityCtrl.selectedItemChange(item, calcCtrl.form.cityPickupId)"
								md-items="item in cityCtrl.querySearch(cityCtrl.searchText)"
								md-item-text="item.cityName" md-min-length="2"
								placeholder="Выберите город отправления"> <md-item-template>
							<span md-highlight-text="cityCtrl.searchText"
								md-highlight-flags="i"> {{item.abbreviation}}.
								{{item.cityName}}, ({{item.regionName}})</span> </md-item-template> <md-not-found>
							Город "{{cityCtrl.searchText}}" не найден. </md-not-found> </md-autocomplete>
						</div>

						<div layout="row" layout-align="start" class="md-padding">
							<md-radio-group ng-model="calcCtrl.form.cityPickupType">
							<md-radio-button id="cityOrigDoorFacility" ng-value="0">от
							двери</md-radio-button> <md-radio-button id="cityOrigDepartmentFacility"
								ng-value="1">от пункта выдачи</md-radio-button> </md-radio-group>
						</div>
					</div>

					<div flex class="md-padding">
						<div ng-controller="CityCtrl as city2Ctrl" layout="column"
							ng-cloak>
							<p ng-model="city2Ctrl.destination"
								ng-init="city2Ctrl.destination='delivery'">Пункт назначения</p>
							<md-autocomplete ng-disabled="city2Ctrl.isDisabled"
								md-no-cache="city2Ctrl.noCache"
								md-search-text-change="city2Ctrl.searchTextChange(city2Ctrl.searchText)"
								md-search-text="city2Ctrl.searchText"
								md-selected-item-change="city2Ctrl.selectedItemChange(item, calcCtrl.form.cityDeliveryId)"
								md-items="item in city2Ctrl.querySearch(city2Ctrl.searchText)"
								md-item-text="item.cityName" md-min-length="2"
								placeholder="Выберите город назначения"> <md-item-template>
							<span md-highlight-text="city2Ctrl.searchText"
								md-highlight-flags="i"> {{item.abbreviation}}.
								{{item.cityName}}, ({{item.regionName}})</span> </span> </md-item-template> <md-not-found>
							Город "{{city2Ctrl.searchText}}" не найден. </md-not-found> </md-autocomplete>
						</div>

						<div layout="row" layout-align="start" class="md-padding">
							<md-radio-group ng-model="calcCtrl.form.cityDeliveryType">
							<md-radio-button id="cityDestDoorFacility" ng-value="0">до
							двери</md-radio-button> <md-radio-button id="cityDestDepartmentFacility"
								ng-value="1">до пункта выдачи</md-radio-button> </md-radio-group>
						</div>
					</div>
				</div>

				<md-content class="md-padding">
				<div layout="row" layout-align="space-around end">
					<md-input-container flex> 
					<label>Длина
						<span>, см</span>
					</label> 
					<input type="text" id="length" ng-model="calcCtrl.form.length" />
					</md-input-container>

					<md-input-container flex> 
					<label>Ширина
						<span>, см</span>
					</label> 
					<input type="text" id="width" ng-model="calcCtrl.form.width" /> </md-input-container>

					<md-input-container flex> 
					<label>Высота
						<span>, см</span>
					</label> 
					<input type="text" id="height" ng-model="calcCtrl.form.height" />
					</md-input-container>
				</div>
				</md-content>

				<md-content class="md-padding">
				<div layout="row" layout-align="space-around start">
					<md-input-container flex> 
					<label>Вес <span>,
							кг</span>
					</label> 
					<input type="text" id="weight" ng-model="calcCtrl.form.weight" />
					</md-input-container>

					<md-input-container flex> 
					<label>Количество
						<span>, шт</span>
					</label> 
					<input type="text" id="quantity" ng-model="calcCtrl.form.quantity" />
					</md-input-container>
				</div>
				</md-content>

				<md-content class="md-padding">
				<div layout="row" layout-align="space-between">
					<md-button class="md-raised md-warn"
						ng-click="calcCtrl.update(calcCtrl.form)">Рассчитать</md-button>
					<md-button class="md-raised" ng-click="calcCtrl.clear()">Очистить</md-button>
				</div>
				</md-content>

		</form>
	</section>

	<section class="md-padding">
		<md-toolbar class="md-warn">
		<div class="md-toolbar-tools">
			<h2 class="md-flex">Доступные услуги</h2>
		</div>
		</md-toolbar>

		<mdt-table> <mdt-header-row> <mdt-column
			align-rule="left">Название услуги</mdt-column> <mdt-column
			align-rule="right">Стоимость доставки, руб</mdt-column> <mdt-column
			align-rule="right">Срок доставки, раб. дни</mdt-column> </mdt-header-row> <mdt-row
			ng-repeat="facility in calcCtrl.facilityList"> <mdt-cell>{{facility.facilityName}}</mdt-cell>
		<mdt-cell>{{facility.cost}}</mdt-cell> <mdt-cell>{{facility.delivery}}</mdt-cell>
		</mdt-row> </mdt-table>
	</section>

	<!--</md-content>-->
	</div>

	<!-- Angular Material requires Angular.js Libraries -->


	<!--https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js-->
	<script type="text/javascript" src="./assets/jquery/dist/jquery.min.js"></script>

	<script type="text/javascript" src="./assets/angular/angular.min.js"></script>
	<script type="text/javascript"
		src="./assets/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript"
		src="./assets/angular-aria/angular-aria.min.js"></script>
	<script type="text/javascript"
		src="./assets/angular-messages/angular-messages.min.js"></script>

	<!-- Angualr resources -->
	<script type="text/javascript"
		src="./assets/angular-resource/angular-resource.min.js"></script>

	<!-- Angular Material Library -->
	<script type="text/javascript"
		src="./assets/angular-material/angular-material.min.js"></script>

	<!-- Angular Material data table Libraries -->
	<script type="text/javascript" src="./assets/lodash/lodash.min.js"></script>
	<script type="text/javascript"
		src="./assets/angular-material-icons/angular-material-icons.min.js"></script>
	<script type="text/javascript"
		src="./assets/angular-sanitize/angular-sanitize.min.js"></script>

	<script type="text/javascript"
		src="./assets/md-data-table/dist/md-data-table-templates.js"></script>
	<script type="text/javascript"
		src="./assets/md-data-table/dist/md-data-table.js"></script>

	<script type="text/javascript" src="./app/app.js"></script>
	<script type="text/javascript" src="./app/calc/service.js"></script>
	<script type="text/javascript" src="./app/calc/controller.js"></script>
	<script type="text/javascript" src="./app/geo/service.js"></script>
	<script type="text/javascript" src="./app/geo/controller.js"></script>


</body>
</html>